.HouseCard{
    width: 950px;
    height: 200px;
    background-color: #dedede;
    display: flex;
    justify-content: space-between;
    margin: 10px 25px;
    
}
.HouseInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}